---
import NewsItem from "./NewsItem.astro";
import SectionTitle from "./SectionTitle.astro";
import { newsItems } from "../data/home";
---

<section class="news-section mt-12 max-md:mt-6" aria-label="Últimas notícias">
  <SectionTitle title="notícias" icon="news" colorClass="text-news-heading" />

  <ul class="m-0 list-none p-0">
    {newsItems.map((item) => <NewsItem item={item} />)}
  </ul>
</section>
